@import "modules/all";

* {
    box-sizing: border-box;
}

html, button, input, select, textarea {
    font-family: $base-font-family;
}

body {
    background-color: $light-gray;
    color: $dark-blue;

    pre {
        margin: 2em 0px;

        code {
            font-family: $fixed-font-family;
            color: $light-gray;
            background-color: $dark-green;
            box-sizing: padding-box;
            padding: 2em 2em;
            border-radius: 3px; 
        }
    }
}

