@import "modules/all";

* {
    box-sizing: border-box;
}

html, button, input, select, textarea {
    font-family: $base-font-family;
    font-size: 16px;
}

body {
    background-color: $alice-blue;
    color: $blue-bark;
}

a {
    color: $tahiti-gold;
    text-decoration: none;
}
