$base-color: hsla(216, 91%, 13%, 1);
$complement-color: hsla(42, 100%, 55%, 1);

$base-font-size: 1em;
$base-font-family: 'Open Sans', sans-serif;
$fixed-font-family: monospace, sans-serif;

@include global-box-sizing(border-box);

html, button, input, select, textarea {
    font-family: $base-font-family;
    font-size: $base-font-size;
}

body {
    color: $base-color; 
    margin-top: 6em;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

body { 
    @include container(60em); 
}
