@mixin tag {
    background-color: $complement-color;
    color: $base-color;
    font-size: 0.75em;
    padding: 0.3em;
    
    &:hover {
        background-color: $base-color;
        color: $complement-color;
    }
}

.info-sidebar {
    section {
        margin-bottom: 3em;
    }

    .site-details {
        text-align: left;

        section {
        }

        .title {
            a {
                color: $complement-color;
                font-size: 2.5em;
                line-height: 1em;
            }
        }

        .description {
            font-size: 1em;
        }
    }
}

/* A list of articles items */
.article-list-item {
    @include container;
    margin-bottom: 3em;
    line-height: 2em;

    .thumbnail {
        @include span(1 of 12 first);
        font-size: 2em;

        .select-indicator {
           visibility: hidden;
        }
    }

    &:hover .thumbnail .select-indicator {
        visibility: visible;
    }

    .info {
        @include span(11 of 12 last);

        .title { 
            font-size: 2em;

            a {
                color: $base-color;
                font-weight: bold;
            }
        }

        .date {
            font-size: 0.75em;
        }

        .tag {
            @include tag;
        }
    }
}

/* A single article in its entirety */
.article-item {
    .header {
        margin-bottom: 3em;

        .title {
            font-size: 3em;
            margin: 0.1em 0;
        }

        .date {
            font-size: 0.75em;
        }

        .tag {
            @include tag;
        }
    }

    .content {
        $default-font-size: 1em;

        a {
            text-decoration: none;
            
            &:hover {
                color: $complement-color;
                text-decoration: underline;
            }

            &:visited {
            }
        }

        h2 {
            margin: 3em 0 0 0;
        }
        
        p { 
            font-size: $default-font-size;
            line-height: $default-font-size * 1.40;
            margin: 2em 0;
        }

        ul li.no-style {
            list-style-type: none;
        }

        img {
            border: 1em solid $complement-color;
        }
    }
} 
