@mixin tag {
    border-radius: 0.5em;
    color: map-get($colors, primary);
    background-color: map-get($colors, secondary);
    text-decoration: none;
    font-size: 0.75em;
    padding: 0.3rem;
    margin: 0 0.1rem;
    
    &:hover {
        color: map-get($colors, secondary);
        background-color: map-get($colors, primary);
    }
}

.date {
    color: lighten(map-get($colors, primary), 40%);
    font-size: 0.75em;
}

header {
    section {
        margin-bottom: 4em;
    }

    .discipline {
        @include tag;
    }

    .site-details {
        text-align: left;

        .title {
            margin: 0;

            a {
                text-decoration: none;
                color: map-get($colors, primary);
                font-size: 3rem;
                line-height: 1em;
            }
        }

        .description {
            letter-spacing: 0.2rem;
            font-size: 1rem;
        }
    }
}

.contact-details {
    .contact {
        color: lighten(map-get($colors, primary), 20%);
        text-decoration: none;
    }
}

.sections {
    .section {
        @include tag;
        font-weight: bold;
    }
}

/* A list of post items */
.post-list-item {
    @include container;
    margin-bottom: 3em;
    line-height: 2em;

    .title { 
        margin: 0;
        font-size: 2em;

        a {
            color: map-get($colors, primary);
            text-decoration: none;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }


    .tag {
        @include tag;
    }
}

/* A single post in its entirety */
.post-item {
    .header {
        margin-bottom: 3em;

        .title {
            font-size: 3em;
            margin: 0.1em 0;
        }

        .tag {
            @include tag;
        }
    }

    .content {
        $default-font-size: 1em;

        a {
            color: darken(map-get($colors, secondary), 30%);
        }

        h2 {
            margin: 2em 0 0 0;
        }
        
        p { 
            font-size: $default-font-size;
            line-height: $default-font-size * 1.40;
            margin: 2em 0;
        }

        ul li.no-style {
            list-style-type: none;
        }

        img {
            border: 0.5em solid map-get($colors, secondary);
            border-radius: 1em;
            margin: 1rem 0;
        }
    }
} 

main.taxonomy > h1 {
    margin-bottom: 3rem;
}

main.section > h1 {
    margin-bottom: 3rem;
}
