<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title> {{ .Title }} &middot; {{ .Site.Title }} </title>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
<!--<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic|Cinzel:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/main.css">
