<section class="site-details">
    <h1 class="title"><a href="{{ .Site.BaseUrl }}">{{ .Site.Title }}</a></h1>
    <h2 class="description">{{ .Site.Params.description }}</h2>
    <hr/>
</section>
<section class="sections">
    <h3>Disciplines</h3>
    {{ range $name, $section := .Site.Sections }}
    <a class="section" href="{{ $.Site.BaseUrl }}/{{ $name | urlize }}/">{{ $name }}</a>
    {{ end }}
</section>
<section class="contact-details">
    <h3>Contacts</h3>
    <a class="contact" href="mailto:{{ .Site.Params.social.mail }}"><i class="fa fa-envelope-o"></i>Email</a></div>
<a class="contact" href="{{ .Site.Params.social.twitter }}"><i class="fa fa-twitter"></i>Twitter</a></div>
</section>
{{ partial "footer.html" . }}
