<div class="container">
    <div class="header">
        <div class="site-logo">＿〆(。。)</div>
        <h1 class="site-title"><a href="{{ .Site.BaseUrl }}">{{ .Site.Title }}</a></h1>
        <h2 class="site-description">{{ .Site.Params.description }}</h2>
    </div>
    <div class="contact">
        <div>email: developarvin+artem@gmail.com</div>
        <div>twitter: <a href="https://twitter.com/Arvinsim">@Arvinsim</a></div>
    </div>
    <div>
        {{ partial "footer.html" . }}
    </div>
</div>
