{{ $baseurl := .Site.BaseUrl }}
<!DOCTYPE html>
<html lang="en-us">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <div class="main-content homepage">
            {{ range .Data.Pages }}
            <section class="post">
                <div class="title">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    <span class="select-indicator">&Delta;</span>
                </div>
                <time class="post-date">{{ .Date.Format "January 2, 2006" }}</time>
                {{ range .Params.tags }}
                <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>
                {{ end }}
                <div class="description">
                    {{ .Description }}
                </div>
            </section>
            {{ end }}
        </div>
        <div class="info-sidebar">
            {{ partial "info-sidebar.html" . }}
        </div>
    </body>
</html>
